<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ site.name }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/onepcssgrid.css" />
    <link rel="stylesheet" href="/css/site.css" />
  </head>
  <body>
    <div class="onepcssgrid-1000">
      <div class="onerow">
        <div class="col12 last">
          <h1 class="wordwrap">{{ site.name }}</h1>
        </div>
      </div>
      <div class="onerow">
        <div class="col12 last">
          <p><a href="/">Camp</a> | <a href="/news/">News</a> | <a href="/activities/">Aktivitäten</a></p>
        </div>
      </div>

      {{ content }}
    </div>
  </body>
</html>
