<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ site.name }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/onepcssgrid.css" />
  </head>
  <body>
    <div class="onepcssgrid-1000">
      <div class="onerow">
        <div class="col12 last">
          <h1>Netz39::Sommercamp.2014</h1>
        </div>
      </div>
      <div class="onerow">
        <div class="col7">
          <h2>Ort:</h2>
          <p><b>Schloss Heinrichshorst</b><br />
          <p>Heinrichshorst 1<br />
          D-39326 Rogätz</p>
          <p>
            <iframe width='100%' height='400px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/apfohl.io53cej5/attribution.html?access_token=pk.eyJ1IjoiYXBmb2hsIiwiYSI6Iml1TDlpQXcifQ.2GjyK7qznSQJZxJl80Kziw'></iframe>
          </p>
        </div>
        <div class="col5 last">
          <h2>Zeit:</h2>
          <p><b>Do. 21.08.2014</b> bis <b>So. 24.08.2014</b></p>

          <h2>Anreise:</h2>
          <h3>per Auto</h3>
          <p>Autobahn <b>A2</b> aus Richtung Hannover -> Abfahrt <b>Magdeburg-Zentrum</b> -> <b>B189</b> Richtung <b>Stendal</b> -> In <b>Colbitz</b> erste Querstraße rechts K1174 Richtung <b>Angern</b> -> Nach ca. 5 Minuten rechts in den Wald einfahren (<b>Achtung!</b> Nicht zu schnell fahren, man übersieht es!)</p>
          <p>Autobahn <b>A14</b> aus Richtung Leipzig/Halle -> Abfahrt auf <b>A2</b> Richtung <b>Magdeburg</b> -> siehe Anfahrt von A2</p>

          <h3>per Zug</h3>
          <p>Bahnhof <b>Angern-Rogätz</b> -> zu Fuß (1h 11m) <b>L29</b> Richtung <b>Angern</b> -> in <b>Angern</b> Links in <b>Colbitzer Straße</b> -> Weiter auf <b>K1174</b> (ca. 1,3 km) -> <b>Links</b> abbiegen Richtung Heinrichshorst</p>
          <p>Bahnhof <b>Angern-Rogätz</b> -> Auto (Shuttle bei Anruf)</p>
        </div>
      </div>
    </div>
  </body>
</html>
